<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Search user</h3>
<form data-th-action="@{/searchuser}" method="post">
    <input type="text" name="textyn">
    <button type="submit">Submit</button>
</form>

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Floaters</th>
        <th>Ban</th>
    </tr>
    <tr data-th-each="elem: ${users}">
        <td data-th-text="${elem.getUsername()}"></td>
        <td data-th-text="${elem.getEmail()}"></td>
        <td data-th-text="${elem.getFloaters()}"></td>
        <td><a data-th-href="@{/banuser/{id}(id=${elem.getId()})}">Ban</a></td>
    </tr>
</table>
</body>
</html>