 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 961px;
}

.u-section-1 .u-group-1 {
  width: 699px;
  min-height: 456px;
  height: auto;
  margin: 184px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 81px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  margin: 22px auto 0;
}

.u-section-1 .u-image-1 {
  width: 215px;
  height: 215px;
  margin: -590px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-1 .u-group-1 {
    min-height: 460px;
    margin-top: 130px;
    height: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -582px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 146px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -647px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 558px;
    margin-top: 145px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -614px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-1 .u-group-1 {
    min-height: 506px;
    margin-top: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 102px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 33px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    margin-top: 38px;
  }

  .u-section-1 .u-image-1 {
    width: 198px;
    height: 198px;
    margin-top: -677px;
  }
}