.u-section-1 .u-sheet-1 {
  min-height: 1045px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -240px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-1 .u-form-1 {
  height: 558px;
  background-image: none;
  width: 570px;
  margin: 17px auto 60px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -240px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -240px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -270px;
  }

  .u-section-1 .u-form-1 {
    height: 218px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}