 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-text-1 {
  width: 361px;
  margin: 47px auto 0;
}

.u-section-1 .u-image-1 {
  width: 209px;
  height: 209px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 83px;
  }
}